* {
  color: black;
  margin: 0.1em;
  box-sizing: border-box;
}

body {
  background-color: rgb(176, 224, 230);
  text-decoration: none;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  height: 5rem;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  letter-spacing: 0.2em;
  border: 3px solid black;
}

header div i {
  font-size: 36px;
}

li {
  list-style: none;
  font-size: 16px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0;
  padding-right: 20px;
  margin: auto;
  width: 100%;
}

.movie-cards {
  /* text-align: center; */
  /* background-color: lightpink; */
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title {
  text-align: center;
  color: #464646;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.5rem;
}

.movie-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

img {
  width: 340px;
  height: 400px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: grey;
  border: 1px solid beige;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

footer {
  border: 3px solid black;
  text-align: center;
  width: 95%;
  bottom: 0;
  font-size: 15px;
  padding-block: 15px;
  letter-spacing: 00.2em;
  margin-left: 30px;
}

button:hover {
  border: 5px solid black;
  border-bottom: 3px solid black;
}

#close-button {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.container {
  position: relative;
}

section.popup-section {
  border: 3px solid black;
}

section #popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: rgb(176, 224, 230, 0.7);
  z-index: 1;
}

section #popup-window {
  background-color: rgba(255, 188, 193);
  margin: 10% auto;
  width: 25%;
  padding: 20px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5), 0 7px 50px 0 rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.popup-image {
  padding: 10px;
}

#popup-window div > h3 {
  font-size: 30px;
  padding: 10px;
}

#popup-window div > p {
  font-size: 20px;
  padding: 10px;
}

#popup-window div > h4 {
  padding: 10px;
}

#popup-window div > span {
  padding: 10px;
}

form {
  text-align: center;
  width: 100%;
  margin-block-end: 2rem;
}

form input {
  width: 100%;
  padding-block: 0.4rem;
}

form textarea {
  text-align: left;
  width: 100%;
  height: 80px;
}

.bottom {
  margin-bottom: 70px;
}
